= react_component "ProfileApp", { name: "Bernard", location: 'Jakarta, Indonesia' }, { prerender: true }

%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias sed eos, officiis in non qui dolorum distinctio? Beatae, dolorem facilis corrupti illo veritatis ut repellendus accusantium corporis sapiente veniam. Incidunt.